
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    @RenderSection("Styles", false)
    <link href="~/Content/street-fighter-stylesheet.css" rel="stylesheet" />
    <title>Street Fighter</title>
</head>

<body>
    <div class="main-options">
        <a href="~/StreetFighter">Início</a>
        <a href="~/StreetFighter/Cadastro">Cadastro</a>
        <a href="~/StreetFighter/FichaTecnica">Ficha Técnica</a>
        <a href="~/StreetFighter/Sobre">Sobre</a>
    </div>
    <div class="content">
        <div class="top-title">
            <span>@ViewBag.Title</span>
        </div>
        <div class="bottom-content">
            @RenderBody()
        </div>
    </div>
</body>

</html>
