@model List<StreetFighter.Dominio.Personagem>
@{
    ViewBag.Title = "Lista de Personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="opcoes_lista">
    @using (Html.BeginForm("ListaPersonagens", "StreetFighter", FormMethod.Get))
    {
        <span class="opcao">
            <strong>
                @Html.Label("Filtro: ")
            </strong>
            @Html.TextBox("filtro")
        </span>
    }

    @using (Html.BeginForm("Cadastro", "StreetFighter"))
    {
        <span class="opcao">
            <button type="submit">Cadastro</button>
        </span>
    }
</div>

@{ 
    if (Model.Count == 0)
    {
        <h2>Não há nenhum personagem cadastrado.</h2>
    }
    foreach (var personagem in Model)
    {
        <div class="personagem">
            <img src="@personagem.Imagem">
            <span>
                @Html.ActionLink(personagem.Nome, "FichaTecnica", "StreetFighter", new { idPersonagem = personagem.Id }, null)
            </span> 
        </div>
    }
}

@section Styles {
    <style>
        img {
            width: 70px;
            height: 70px;
            display: inline;
        }

        h2 {
            color: crimson;
            display: inline;
        }

        .personagem {
            padding: 10px 10px 10px 10px;
        }

        .informacoes {
            display: inline;
        }

        form {
            display: inline;
        }

        .opcoes_lista {
            padding: 15px;
            font-size: 15px;
            text-align: center;
        }

        form:not(:first-of-type) .opcao {
            margin-left: 20px;
        }
    </style>
}

