
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bottom-content">
    <div>
        <h2 class="bottom-title">Felipe Souza</h2>
    </div>
    <div>
        <div>
            <img src="http://csgo-stats.com/felpsfelps/graphic.png" alt="Felps-CSGO-Stats">
        </div>
        <div>
            <p class="sobre"><strong>Nome completo:</strong> Felipe Thomas Vargas de Souza</p>
            <p class="sobre"><strong>Nascimento:</strong> 2 de junho de 1997.</p>
            <p class="sobre"><strong>Jogos favoritos:</strong> CSGO, Fallout 4, Terraria.</p>
            <p class="sobre"><strong>Tipo sanguíneo:</strong> B-.</p>
            <p class="sobre"><strong>Habilidades especiais:</strong> Programar, beber café.</p>
            <p class="sobre"><strong>Gosta:</strong> Doritos, goiabada, jogos.</p>
            <p class="sobre"><strong>Desgosta:</strong> insônia.</p>
            <p class="sobre"><strong>Origem:</strong> Campo Bom / RS - Brasil.</p>
            <p class="sobre"><strong>Nickname:</strong> Felps.</p>
            <p class="sobre"><strong>Golpes especiais famosos:</strong> Strafe na varanda, rush b.</p>
        </div>
    </div>
</div>
