.personagens > :last-of-type,
.digiescolhidos,
.historia-digimon,
h1 > span:first-child {
    display: none;
}

h1 > span:last-child {
    font-family: 'Bungee', cursive;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 74px;
    width: 100%;
    min-width: 300px;
    font-family: 'Pacifico', cursive;
    background-color: #cd5241;
    color: #ffe69c;
    text-align: center;
    overflow-wrap: break-word
}

nav:not(.autenticacao) {
    position: relative;
    top: 0;
    left: -5%;
    margin-top: 74px;
    height: 40px;
    width: 110%;
    border-style: solid;
    border-radius: 10px;
    border-color: #084152;
    min-width: 300px;
    font-family: 'Bungee', cursive;
    background-color: #084152;
    color: #ffe69c;
    text-align: center;
}

nav:not(.autenticacao) > a:not(:first-of-type) {
    margin-left: 9px;
}

nav:not(.autenticacao) > a {
    height: 100%;
    transition: color 0.3s ease;
}

nav:not(.autenticacao) > a:hover {
    color: #cd5241;
}

.logo {
    position: fixed;
    top: 30px;
    right: 100px;
    height: 10%;
    width: 10%;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG);
    background-repeat: no-repeat;
    background-size: 25%;
}

.autenticacao {
    font-family: 'Bungee', cursive;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.autenticacao > a {
    position: relative;
    margin-right: 30px;
    transition: color 0.3s ease;
}

.autenticacao > a:hover {
    color: #084152;
}

body {
    background-color: #eeb45a;
}

section {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eede7b;
    border-radius: 10px;
}

section:last-of-type {
    margin-bottom: 5%;
}

.historia-pokemon > h1,
section h2,
section h3 {
    font-family: 'Bungee', cursive;
    margin-left: 15px;
    margin-bottom: -5px;
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    height: 3%;
    width: 100%;
    min-height: 40px;
    min-width: 300px;
    font-family: 'Bungee', cursive;
    background-color: #cd5241;
    color: #ffe69c;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: #eeb45a;
}

p > a {
    color: #084152;
}

p, li {
    font-family: 'Roboto Condensed', sans-serif;
}

p:last-child, li:last-child {
    padding-bottom: 15px;
}

p {
    margin: 0 10px 10px;
}